.footer{
    position: sticky;
    bottom: 0%;
    top: 100%;
}

.footer-container{
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.547);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:fixed;
    bottom: 0; */
    width: 100%;
    margin-top: 1rem;
    padding: 10px;
    flex-direction: column;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-bottom: 0px;
    height: auto;
}
.contact-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0 10px;
    font-size: 2rem;
}
.contact-links a:hover{
    color: white;
}